{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Détails{% endblock %}

{% block body %}
    <h2>{{ produit.libelle }}</h2>
    <div>Prix : {{ produit.prix}}</div>
    <div>Référence : {{ produit.reference }}</div>
    <div>Stock : {{ produit.stock }}</div>
    <div>Ajouté le : {{ produit.dateAjout | date('d/M/Y')}}</div>







{% endblock %}