<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=yes, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}Produits{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    </head>
    <body>
        <div class="container">
            <header>
                <h1>Produits</h1>
                {% include('inc/nav.html.twig') %}
            </header>

            {# read and display all flash messages #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <main>
                {% block body%} {% endblock %}
            </main>
            <footer>
                <div>&copy; {{ "now"|date("Y") }} Produits by Lydia</div>
            </footer>
        </div>
    </body>
</html>